{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'ViewOnRoad/index.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ViewOnRoad</title>
</head>
<body>
  <p>
    <a href = "{% url 'ViewOnRoad_index' %}"><img src="{% static 'ViewOnRoad/GMH_logo.png' %}" alt=""  width = 60px height = 50px></a>
  </p>
  <span>
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">로그아웃</a> |
      <a href="{% url 'ViewOnRoad_fileUpload' %}">글쓰기</a> |
      <a href="">회원정보</a>
    {% else %}
      <a href="{% url 'login' %}">로그인</a> |
      <a href="{% url 'ViewOnRoad_signup' %}">회원가입</a> |
    {% endif %}
  </span>
  <br>
  <div class="menubar">
   <ul>
      <li><a href="{% url 'ViewOnRoad_notice' %}">알림</a></li>
      <li><a href="#">길 위의 이야기</a>
         <ul>
           <li><a href="#">홈</a></li>
           <li><a href="#">가고 싶은 길</a></li>
           <li><a href="#">가본 길</a></li>
           <li><a href="#">최근 올라온 길</a></li>
           <li><a href="#">주제가 있는 길</a></li>
         </ul>
      </li>

      <li><a href="{% url 'ViewOnRoad_longWay' %}">먼 길 가기</a>
        <ul>
          <li><a href="#">홈</a></li>
          <li><a href="#">가고 싶은 길</a></li>
          <li><a href="#">가본 길</a></li>
          <li><a href="#">최근 올라온 길</a></li>
          <li><a href="#">대륙별 인기있는 길</a></li>
        </ul>
      </li>

      <li><a href="#">거리 탐방</a>
        <ul>
          <li><a href="#">홈</a></li>
          <li><a href="#">가고 싶은 길</a></li>
          <li><a href="#">가본 길</a></li>
          <li><a href="#">최근 올라온 길</a></li>
          <li><a href="#">대륙별 인기있는 길</a></li>
        </ul>
      </li>

      <li><a href="#">동반자</a>
        <ul>
          <li><a href="{% url 'ViewOnRoad_signup' %}">회원가입</a></li>
          <li><a href="{% url 'ViewOnRoad_fileUpload' %}">문의 및 영상등록</a></li>
        </ul>
      </li>

      <li><a href="{% url 'ViewOnRoad_notice' %}">회사 소개</a></li>
   </ul>
  </div>
  {% block content %}
  {% endblock %}
</body>
</html>