{% extends 'ViewOnRoad/base.html' %}

{% block stylelink%}
<style>
  #menuBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align : center;
    font-size : 0.75em;
    margin : 200px;
    margin-right : 700px;
    margin-bottom : 0px;
  }
  .menu{
    border : solid;
    border-bottom-width : 0px;
  }
  #now{
    background-color : lightgray;
  }
  #mainBox{
    padding : 20px;
    border : solid;
    margin : 200px;
    margin-top : 0px;
    text-align : center;
  }
  #number{
    text-align : right;
  }
  #completeBox{
    text-align : center;
    border : solid;
    padding : 40px;
    margin : 70px;
  }
  </style>
{% endblock %}

{% block title%}
<title>타이틀</title>
{% endblock%}

{% block content %}
    <div id="mainBox">
      <div id="completeBox">
        회원님의 정보는
        <br><br>
        <span style="background-color : lightgray">
          {% for key,value in data.items %}
            {{ key }} : {{ value }}<br>
          {% endfor %}
        </span>
        <br><br>
        입니다.
      </div>
    </div>
{% endblock%}
