{% extends 'ViewOnRoad/base.html' %}

{% block stylelist %}
  <link rel="stylesheet" href="/static/ViewOnRoad/longway.css">
{% endblock %}

{% block content %}
  {% for file in filelist %}
    <div class="file">
        <h2><a style = "color : black;" href="파일 디테일 페이지">{{ file.title }}</a></h2>
        <br>
        <h3>{{ file.file.name }}</h3>
        <video src = 'D:\Web\chapter4_CSS\1.png' alt="이미지 불러오기 실패">
    </div>
   {% endfor %}
    
<a style = "color : red;" href="{% url 'ViewOnRoad_fileUpload' %}">파일 업로드하기</a><br>

{% endblock%}