{% extends 'ViewOnRoad/base.html' %}



{% block title%}
<title>{{file.title}}</title>
{% endblock%}

{% block stylelink %}
<style>
    #center{
    position: absolute;
    left: 25%;
    }
    .video{
    text-align : center;
    border : solid 1px;
    width : 600px;
    height : 350px;
    }
    #content{
    width : 600px;
    height : 150px;
    }
    #explain{
    border : solid 1px;
    width : 600px;
    height : 200px;
    }
</style>
{% endblock %}



{% block content %}
    <div id="center">
      <div class = "video">
        <video style="width:600px;height:350px" src = "{{ file.file.url }}" style="width:800px; height:800px" autoplay loop controls>
      </div>
      <br><br>
      <div id="content">
        Title: {{ file.title }}<br><br>
        작성자: {{file.user}}<br><br>
        시간: {{ file.created_date }}<br><br>
      </div>
      <div id="explain">
        {{file.text}}
      </div>
    </div>
{% endblock %}
