{% extends 'ViewOnRoad/base.html' %}

{% block stylelink %}
  <link rel="stylesheet" href="/static/ViewOnRoad/login.css">
{% endblock %}

{% block content %}

  <div id="loginBody">
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}

      <input name="username" id = "id_name" style = "border-radius : 6px" type="text" placeholder="아이디"/><br />
      <input name="password" id = "id_password" style = "border-radius : 6px" type="password" placeholder="비밀번호"/><br />
      <button class="loginButton" style = "border-radius : 6px"  type="submit" value="로그인">로그인</button><br>
      <input type="hidden" name="next" value="{{ next }}" />

      <input id="checkLogin" type="checkbox" value="">
      <label id="checkLogin">로그인 유지</label>
    </form>
    {% if form.errors %}
    <p style="font-size:10px">아이디와 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}

    <hr>
    <div id="grid">
      <a href="" class="rightLine" style = "text-decoration:none" >아이디찾기</a>
      <a href="" class="rightLine" style = "text-decoration:none">비밀번호찾기</a>
      <a href="" class="rightLine" style = "text-decoration:none">회원가입</a>
    </div>
  </div>

{% endblock %}
