body{
margin : 50px;
}
.Tmain{
padding : 10px;
}
#FirstGrid{
display: grid;
grid-template-columns : 1fr 3fr;
}
#FirstVideo{
height : 200px;
width : 300px;
border: solid 1px;
margin : 10px;
}
#content{
border: solid 1px;
margin : 10px;
}
.AddButton{
float : right;
border : 0px;
margin : 5px;
}
.SecondGrid{
display: grid;
grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
text-align : center;
margin : 10px;
}
.SecondVideo{
height : 100px;
width : 150px;
border : solid 1px;
margin : 5px;
}