
  #menuBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align : center;
    font-size : 0.75em;
    margin : 200px;
    margin-right : 700px;
    margin-bottom : 0px;
  }
  .menu{
    border : solid;
    border-bottom-width : 0px;
  }
  #now{
    background-color : lightgray;
  }
  #mainBox{
    padding : 20px;
    border : solid;
    margin : 200px;
    margin-top : 0px;
    text-align : center;
  }
  #number{
    text-align : right;
  }
  #agreeBox{
    height : 20px;
    padding-right : 60px;
    padding-left : 50px;
    border : solid;
    border-bottom-width : 0px;
    margin-top : 50px;
    background-color : lightgray;
  }
  #listBox{
    padding : 20px;
    border : solid;
    margin-bottom : 50px;
  }
  .box{
    height : 100px;
    margin : 30px;
    border : solid 1.5px;
  }
  input{

  }
