{% extends "ViewOnRoad/base.html" %}

{% block stylelink%}
<style>
#menuBox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align : center;
  font-size : 0.75em;
  margin : 200px;
  margin-top : 50px;
  margin-right : 700px;
  margin-bottom : 0px;
}
.menu{
  border : solid;
  border-bottom-width : 0px;
}
#now{
  background-color : lightgray;
}
#mainBox{
  padding : 20px;
  border : solid;
  margin : 200px;
  margin-top : 0px;
  text-align : center;
}
#number{
  text-align : right;
}
#agreeBox{
  height : 20px;
  padding-right : 60px;
  padding-left : 50px;
  border : solid;
  margin-top : 50px;
  background-color : lightgray;
}
#listBox{
  padding : 60px;
}
.box{
  text-align : left;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin : 5px;
  border : solid 1px;
}
.textBox{
  width : 80%;
  background-color : lightgray;
  margin : 2px;
}
</style>
{% endblock %}

{% block title%}
<title>회원가입</title>
{% endblock%}

{% block content%}
  <form method="post">
    {% csrf_token %}
    <div id="menuBox">
      <div class="menu">
        로그인
      </div>
      <div class="menu" id="now">
        <strong>회원가입</strong>
      </div>
      <div class="menu">
        아이디/비밀번호 찾기
      </div>
    </div>
    <div id="mainBox">
      <div id="number">
        <span style="color : lightgray">1.회원선택 2.약관동의 </span>3.정보입력<span style="color : lightgray"> 4.가입완료</span>
      </div>
      <div id="agreeBox">
        <span style="float : left">이용약관동의</span>
      </div>
      <div id="listBox">
        <table>
        {{ form.as_table }}
          <tr>
            <td></td>
          </tr>
        </table>
      </div>
      <a href="{% url 'ViewOnRoad_signup4' %}"><input type="submit" name="submit" value="다음" /></a>
    </div>
  </form>
{% endblock %}
