{% extends 'ViewOnRoad/base.html' %}

{% block stylelink %}
  <link rel="stylesheet" href="ViewOnRoad/signup1.css">
{% endblock %}

{% block content %}
      <div id="menuBox">
      <div class="menu">
        로그인
      </div>
      <div class="menu" id="now">
        <strong>회원가입</strong>
      </div>
      <div class="menu">
        아이디/비밀번호 찾기
      </div>
    </div>
    <div id="mainBox">
      <div id="number">
        1.회원선택 <span style="color : lightgray">2.약관동의 3.정보입력 4.가입완료</span>
      </div>
      <div id="selection">
        <div class="box">
          개인구매회원
        </div>
        <div class="box">
          컨탠츠 등록 및 <br> 등록회원
        </div>
        <div class="box">
          광고주 및 <br> 개인회원
        </div>
        <div class="box">
          번역회원
        </div>
      </div>
      <a href = "{% url 'ViewOnRoad_signup2' %}"><input type="button" value="다음" ></a>
    </div>
{% endblock%}