{% extends "ViewOnRoad/base.html" %}



{% block title%}
<title>공개게시판</title>
{% endblock%}    

{% block stylelink%}
<style>
  body{
    margin-top : 70px;
  }
  #menuBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align : center;
    font-size : 0.75em;
    margin : 200px;
    margin-right : 700px;
    margin-bottom : 0px;
  }
  .menu{
    border : solid;
    border-bottom-width : 0px;
  }
  #now{
    background-color : lightgray;
  }
  #mainBox{
    padding : 30px;
    border : solid;
    margin : 200px;
    margin-top : 0px;
    text-align : center;
  }
  .gridbox{
    display : grid;
    grid-template-columns: 5fr 1fr 1fr;
    border-bottom: solid 1px;
    padding: 2px;
  }
  #topbox{
    background-color: lightgray;
    border-top: solid 1px;
  }

</style>
{% endblock%}    

{% block content%}
  <body>
    <div id="menuBox">
      <div class="menu" id="now">
        <strong><a href="{% url 'ViewOnRoad_questions' %}">공개게시판</a></strong>
      </div>
      <div class="menu">
        <a href= "{% url 'ViewOnRoad_ask' %}">문의하기</a>
      </div>
    </div>

    <div id="mainBox">

      <div class="gridbox" id="topbox">
        <div>
          Subject
        </div>
        <div>
          Name
        </div>
        <div>
          Date
        </div>
      </div>

<!-- 여기서부터 끝에 표시한 부분까지 게시판에 올릴 글 예시 -->
    {% for post in posts%}
      <div class="gridbox">
        <div>
          <a href = "{% url 'ViewOnRoad_question_detail' post.id%}">{{post.title}}</a>
        </div>
        <div>
          author
        </div>
        <div>
          {{post.created_date}}
        </div>
      </div>
    {% endfor %}
      <div class="gridbox">
        <div>
          동영상 업로드 방법
        </div>
        <div>
          supervisor
        </div>
        <div>
          2019-02-27
        </div>
      </div>
      <div class="gridbox">
        <div>
          회원종류 및 구독료안내
        </div>
        <div>
          supervisor
        </div>
        <div>
          2019-02-27
        </div>
      </div>
      <div class="gridbox">
        <div>
          2019-02-27 ~ 2019-03-05 (휴무안내)
        </div>
        <div>
          supervisor
        </div>
        <div>
          2019-02-27
        </div>
      </div>
      <div class="gridbox">
        <div>
          1차 이벤트 안내
        </div>
        <div>
          supervisor
        </div>
        <div>
          2019-02-27
        </div>
      </div>
      <div class="gridbox">
        <div>
          S
        </div>
        <div>
          supervisor
        </div>
        <div>
          2019-02-27
        </div>
      </div>
      <div class="gridbox">
        <div>
          S
        </div>
        <div>
          supervisor
        </div>
        <div>
          2019-02-27
        </div>
      </div>
      <div class="gridbox">
        <div>
          S
        </div>
        <div>
          supervisor
        </div>
        <div>
          2019-02-27
        </div>
      </div>
 <!-- 여기까지 게시판에 올릴 글 예시 -->
    </div>
  </body>
{% endblock %}
