{% extends "ViewOnRoad/base.html" %}

{% block stylelink%}
  <link rel="stylesheet" href="/static/ViewOnRoad/signup2.css">
{% endblock %}

{% block content %}
    <div id="menuBox">
      <div class="menu">
        로그인
      </div>
      <div class="menu" id="now">
        <strong>회원가입</strong>
      </div>
      <div class="menu">
        아이디/비밀번호 찾기
      </div>
    </div>
    <div id="mainBox">
      <div id="number">
        <span style="color : lightgray">1.회원선택 2.약관동의 3.정보입력</span> 4.가입완료
      </div>
      <div id="completeBox">
        회원가입을 환영합니다.
        <br><br><br>
        회원님의 ID는
        <br><br>
        <span style="background-color : lightgray">'ID들어올 자리'</span>
        <br><br>
        입니다.
      </div>
      <input type="button" value="완료">
    </div>
  </body>
</html>
{% endblock %}