{% extends "ViewOnRoad/base.html" %}

{% block stylelink%}
  <link rel="stylesheet" href="/static/ViewOnRoad/signup2.css">
{% endblock %}

{% block content%}
  <form method="post">
    {% csrf_token %}
    <div id="menuBox">
      <div class="menu">
        로그인
      </div>
      <div class="menu" id="now">
        <strong>회원가입</strong>
      </div>
      <div class="menu">
        아이디/비밀번호 찾기
      </div>
    </div>
    <div id="mainBox">
      <div id="number">
        <span style="color : lightgray">1.회원선택 2.약관동의 </span>3.정보입력<span style="color : lightgray"> 4.가입완료</span>
      </div>
      <div id="agreeBox">
        <span style="float : left">이용약관동의</span>
      </div>
      <div id="listBox">
        <table>
        {{ form.as_table }}
          <tr>
            <td></td>
          </tr>
        </table>
      </div>
      <a href="{% url 'ViewOnRoad_signup4' %}"><input type="submit" name="submit" value="다음" /></a>
    </div>
  </form>
{% endblock %}
